<ul class="list-group" style="margin-top: 3em;">
  <% @filtered_array.each do |item| %>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><%= item[:title] %></h3>
      </div>
      <div class="panel-body">
        <%= image_tag "#{item[:image]}", class: 'img-responsive img-rounded pull-left', style: 'margin-right: 2em;' %>
        <div style="margin-top:3em;">
          <%= link_to item[:url], target: '_blank' do %>
            <button class="btn btn-success">Buy for <%= item[:price] %></button>
          <% end %>
        </div>
      </div>
    </div>

  <% end %>
</ul>
